GCP_PROJECT_ID="gen-lang-client-xxxxx"
GCP_LOCATION="global"
GEMINI_MODEL_ID="gemini-3.1-pro-preview"
GOOGLE_APPLICATION_CREDENTIALS="C:/xxxxx/gen-lang-client-xxxx-xxxx.json"
GP_CHAT_FORCE_GEMINI_429=always
GP_CHAT_RETRY_DELAY_SECONDS=1
AZURE_OPENAI_ENV_FILE="C:/xxxxx/gen-lang-client-xxxx-xxxx.json"